<div class="sc-fBWQee hMpFiG __pf __pf_mHIWYAUj" id="__pf"><div data-pf-type="Body" class="sc-kzqdYt kOLxBk pf-4_"><div data-pf-type="Layout" class="sc-ecPDsT dGTJHM pf-5_"><div data-section-id="pf-4b54" data-pf-type="Section" class="sc-YysaK kYyPCk pf-6_ pf-color-scheme-1"><div class="sc-ktPOXr dplAGv"><div class="sc-jXbVAB kNtuek pf-7_ pf-r pf-r-eh" style="--s-xs:0px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-sm:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-bDoQz cmNGeH pf-8_"><h3 data-pf-type="Heading2" class="sc-cmaqZA fXrIOS pf-9_ pf-heading-1-h3"><span style="background-color: rgb(240, 13, 13);"></span><span style="background-color: rgb(235, 229, 229);"></span>BIGSHOP WEBSITE<span style="color: rgb(0, 0, 0);"></span> IS COMING SOON !</h3><h3 data-pf-type="Heading2" class="sc-cmaqZA fXrIOS pf-11_ pf-heading-1-h3"><b>subscribe for early access<br> (24 hours before the official release)</b></h3><form target="_blank" action="" method="POST" data-pf-type="MailChimpBox" class="sc-bCrIJl bsIlGa pf-13_"></form><form target="_blank" action="" method="POST" data-pf-type="MailChimpBox" class="sc-bCrIJl bsIlGa pf-14_"></form><div data-pf-type="Block" class="sc-gdyfxU kaVeqo pf-15_"><i class="sc-fvtEUL gsyPji pf-16_ pf-icon-1 pfa-brands pfa-instagram" data-href="https://instagram.com/bigshop.style?igshid=MzMyNGUyNmU2YQ==" data-target="_self" data-pf-type="Icon"></i><i class="sc-fvtEUL gsyPji pf-17_ pf-icon-1 pfa-brands pfa-tiktok" data-href="https://www.tiktok.com/@bigshop._?ug_source=op.auth&ug_term=Linktr.ee&utm_source=awyc6vc625ejxp86&utm_campaign=tt4d_profile_link&_r=1" data-target="_self" data-pf-type="Icon"></i></div></div></div></div></div></div></div></div></div><script>
    !function(){
      window.__pagefly_page_setting__ = {"pageTitle":"PASSWORD","pageType":"password","pageId":"546a6e13-957d-4f0c-9926-27f582179844","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"useThemeJQ":false,"trackingIDs":[]};
      window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"4.14.3","shopDomain":"bigshopstyle.myshopify.com","elementData":{},"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/4.14.3/core/helper.js" defer></script>
{% schema %}
{
  "name": "PageFly Password Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://bigshopstyle.myshopify.com/admin/apps/pagefly/editor?id=546a6e13-957d-4f0c-9926-27f582179844&type=password)."
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}